
    {{>navbar}}
  <form class="max-w-sm mx-auto mt-2">
    <div class="mb-5">
      <label for="aboutType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an option</label>
      <select id="optionSelected" name="optionSelected" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="Al">Album</option>
        <option value="Ar">Artist</option>
        <option value="Tr">Track</option>
      </select>
      <label
        for="option"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Search</label>
      <input
        type="text"
        id="option"
        name="option"
        class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      <button id="search-publication-button" class="mt-2 mb-2 px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search for Options</button>
    </form>
    <form action="/create-publication" method="POST">
    <div>
      <label for="aboutType">
        <select class="hidden" name="aboutType" id="aboutType"></select>
      </label>
      
    </div>
    <div>
      <label for="about">
        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="about" id="publication"></select>
      </label>
    </div>
    <div class="mb-5">
      <label
        for="title"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Title</label>
      <input
        type="text"
        name="title"
        id="title"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
    <div>
      <label
        for="content"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Content</label>
      <input
        type="text"
        name="content"
        id="content"
        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
    <div>
      <label
        for="tags"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Tags</label>
      <input
        type="text"
        name="tags"
        id="tags"
        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
    <button class="mt-2 relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800" type="submit">
         <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
      >Create New Publication</button>
    </div>
  </form>
  <section>
    <div class="flex justify-between" id="search"></div>
  </section>
    <script src="/js/script.js"></script>
